*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Orbitron', sans-serif;
  background-color:#EDEFF6 ;
  background-image: url("../img/white_hex.jpeg");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 1320px;
  max-width: 100vw;
}
header{
  display: flex;
  height: 90px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  z-index: 1;
  background-color: #EDEFF6;
}
img{
  position: ;
}
nav{
  flex: 1;
}
nav ul li a:hover{
  color: #d70000;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
a{
  display: inline-block;
  color: #000000; 
  padding: 15px 25px;
  text-decoration: none;
  transition: color 0.3s;
}
main{
  height: 440px;
  padding: 5px 15px;
  border: 1px solid #fff;
  background-color: #f6f9ffb4;
  color: #fff
}
h1{
  color: #000;
}
pre{
  color: #000;
  font-family:'orbitron';

}
.video-container{
  left: 100px;
  position: relative;
  padding-bottom: 25%;
  width: 1000px;
}
.video-container iframe{
  position: absolute;
  top: -285px;
  left: 600px;
  width: 67.85%;
  height: 100%;
}
article{
  text-align: center;
  margin-top: 100px;
}
h2{
  color: #000000;
  font-size: 30px
}
footer{
 margin-top: 500px;
}
ion-icon{
  font-size: 40px;
  color: #000000;
  transition: color 0.6s;
}
ion-icon:hover{
  color: #d70000;
}