*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Orbitron', sans-serif;
  background-color:#EDEFF6 ;
  background-image: url("../img/white_hex.jpeg");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 1320px;
  max-width: 100%;
}
header{
  display: flex;
  height: 100px;
  padding: 9px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  z-index: 1;
  background-color: #f6f9ffda;
}
img{
  height: 50px;
}
nav{
  flex: 1;
}
.topnav-centered a {
  transform: translate(-50%, -50%);
}
ul{
  list-style: none;
  margin: 0;
  padding: 40px;
  text-align: center;
}
li{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
a{
  display: inline-block;
  color: #000000; 
  padding: 15px 25px;
  text-decoration: none;
  transition: color 0.3s;
}
nav ul li a:hover{
  color: #d70000;
}
.borders{
  border: solid 1px black;
}
main{
  float: left;
  position: relative;
  width: 800px;
  padding-bottom: 35%;
  height: 0;
}
h1{
  color: #000;
}
h2{
  color: #000000;
}
.heroText p{
  font-size: 20px;
  line-height: 20px;
  color: #000000;

}
ion-icon {
  font-size: 40px;
  color: #000000;
  transition: color 0.6s;
}
ion-icon:hover{
  color: #d70000;
}
video{
  position: absolute;
  top: 47px;
  left: 670px;
  width: 100%;
  height: auto;
}
article{
  float: left;
  content:"";
  padding: 10%;
  margin-left: 35%;
}
footer{
  clear: both;
}