*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Orbitron', sans-serif;
  background-color:#EDEFF6 ;
  background-image: url("../img/white_hex.jpeg");
  color: #000000;
  background-size: cover;
  background-repeat: repeat;
  background-position: left;
  height: 840px;
  max-width: 100%;
}
header{
  display: flex;
  height: 100px;
  padding: 9px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  z-index: 1;
  background-color: #f6f9ffda;
}
img{
  height: 50px;
}
nav{
  flex: 1;
}
.topnav-centered a {
  transform: translate(-50%, -50%);
}
ul{
  list-style: none;
  margin: 0;
  padding: 40px;
  text-align: center;
}
li{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
a{
  display: inline-block;
  color: #000000; 
  padding: 15px 25px;
  text-decoration: none;
  transition: color 0.3s;
}
nav ul li a:hover{
  color: #d70000;
}
.formtitle{
  text-align: center;
}
h1{
  color: #000;
}
aside{
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f6f9ffda;
  padding: 20px;
  max-width: 35%;
  min-width: none;
  float: left;
}
footer{
  clear: both;
}
ion-icon {
  font-size: 40px;
  color: #000000;
  transition: color 0.6s;
}
ion-icon:hover{
  color: #d70000;
}
p{
  text-align: center;
  transform: translate(0%, -50%);
  color: black;
}