body{
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
h1{
  background: rgba(0, 0, 0, 0);
  padding: 10px;
}
.video-container{
  width: 100vw;
  height: 100vh;
}
iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}
#text{
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}
img{
  height: 500px;
}
